<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_shopping_cart_24_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingList"
        tools:targetApi="31">
        <activity
            android:name=".activity.InitializerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.shoppinglistactiviti.ShoppingListActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.logindialog.LoginDialogOptionalLogin"
            android:exported="false"
            android:parentActivityName=".activity.shoppinglistactiviti.ShoppingListActivity">
        </activity>
        <activity
            android:name=".activity.logindialog.LoginDialogForcedLogin"
            android:exported="false">
        </activity>
        <activity
            android:name=".activity.shoppinglistactiviti.newcategorydialog.NewCategoryDialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowIsFloating="true">
        </activity>
        <activity
            android:name=".activity.shoppinglistactiviti.newcategorydialog.UpdateCategoryDialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowIsFloating="true">
        </activity>
        <activity
            android:name=".activity.shoppinglistactiviti.newshoppingitemdialog.NewShoppingItemDialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowIsFloating="true">
        </activity>
        <activity
            android:name=".activity.shoppinglistactiviti.newshoppingitemdialog.UpdateShoppingItemDialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowIsFloating="true">
        </activity>
        <activity
            android:name=".activity.amounttypelist.addnewamounttypedialog.AddNewAmountTypeDialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowIsFloating="true">
        </activity>
        <activity
            android:name=".activity.amounttypelist.UpdateAmountTypeDialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowIsFloating="true">
        </activity>
        <activity
            android:name=".activity.amounttypelist.AmountTypeListActivity"
            android:exported="false"
            android:parentActivityName=".activity.shoppinglistactiviti.ShoppingListActivity">
        </activity>
        <activity
        android:name=".activity.amounttypelist.AmountTypeDeleteConflictDialog"
        android:theme="@style/Theme.AppCompat.Dialog"
        android:windowIsFloating="true">
    </activity>
        <activity
            android:name=".activity.boughtshoppingitemlist.BoughtShoppingItemListActivity"
            android:exported="false"
            android:parentActivityName=".activity.shoppinglistactiviti.ShoppingListActivity">
        </activity>
    </application>



</manifest>